body {
    background: #0f111a;
    overflow: visible;
    font-family: 'Century Gothic';
    font-style: normal;
}

.Tokners {
    width: 127px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 2%;
    cursor: pointer;
}

.Tokners:hover {
    width: 127px;
    height: 22px;
    display: flex;
    justify-content: space-between;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 2%;
    cursor: pointer;
    opacity: 0.5;
}

.Our-team {
    width: 65px;
    height: 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-right: 5%;
    cursor: pointer;
}

.Tokens {
    width: 47px;
    height: 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-right: 5%;
    color: #FFFFFF;
    cursor: pointer;
}

.Connect {
    width: 104px;
    height: 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 5%;
    cursor: pointer;
}

.Lightpaper {
    width: 73px;
    height: 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 5%;
    cursor: pointer;
}

button.Signin {
    width: 147px;
    height: 37px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border: #0f111a;
    background-color: #0f111a;
    color: #FFFFFF;
}

button.Signin:hover {
    width: 147px;
    height: 37px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border: 2px solid #2278D4;
    border-radius: 25px;
    background-color: #2278D4;
    color: #FFFFFF;
    cursor: pointer;
}

button.Signup {
    width: 147px;
    height: 37px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #22A75D;
    border-radius: 52px;
    background-color: #0f111a;
    color: #FFFFFF;
    margin-right: 20px;
    box-sizing: border-box;
    float: right;
}

button.Signup:hover {
    width: 147px;
    height: 37px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #22A75D;
    border-radius: 52px;
    background-color: #22A75D;
    color: #FFFFFF;
    margin-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.one {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    align-items: baseline;
}

.two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.three {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.Sign {
    display: flex;
    align-items: center;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.we {
    width: 138px;
    height: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(0deg, #2B3087 0%, #00B4EC 81.99%), #FFD100;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.reimage {
    width: 562px;
    height: 162px;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.para {
    width: 531px;
    height: 96px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #DDE2FF;
    opacity: 0.6;
}

.learn-more {
    width: 108px;
    height: 43px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    padding: 2%;
    border-radius: 52px;
}

.learn-more:hover {
    width: 108px;
    height: 43px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #171B29;
    border: 2px solid #22A75D;
    box-shadow: none;
    padding: 2%;
    border-radius: 52px;
    cursor: pointer;
}

.five {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.six {
    padding: 5% 0% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-break: loose;
}

.seven {
    display: flex;
    float: right;
    width: 787px;
    height: 771px;
    /* background-image: linear-gradient(180deg, #0f111a, #E20613, #2278D4, #22A75D 66%, #FFD100 98%, #0f111a 100%); */
    transform: scale(0.8);

}

.rec-4 {
    background: #171B29;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 5% 0% 10% 5%;
    padding: 3%;
}

.rec-4-2 {
    background: #171B29;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 10% 5% 5% 1%;
    padding: 3%;
}

.circle-1 {
    background: url(Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #22A75D;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.for-creaters {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */
    color: #FFFFFF;
}

.arrow-green {
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #22A75D;
}

.arrow-blue {
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #2278D4;
}

.para-2 {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.5;
}

.rectangles {
    display: flex;
}

.circle-2 {
    background: url(Vector\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2278D4;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.rec-11 {
    display: flex;
}
.rec-11-1{
    display: flex;
    width: 700px;

}
.rec-11-1 img{
    width: 700px;
}

.rec-11-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10% 5% 0% 10%;
    width: 100%;
    float: right;
    background: #FFFFFF;
    border-radius: 300px 0px 0px 0px;
}

.wmud {

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 112%;
    color: #0F1320;
}

.wmud-1 {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0F1320;
    opacity: 0.6;
}

.wmud-2 {

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #0F1320;
    opacity: 0.6;
}

.wmud-3 {

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #0F1320;
    opacity: 0.6;
}

.qualities {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
}

.q1 {
    display: flex;

}

.circle-q1 {
    background: url(Q1.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #22A75D;
    text-align: center;
}

.circle-mini-g {
    display: flex;
    width: 10px;
    height: 10px;
    background: #22A75D;
    border-radius: 50%;
}

.q1-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.q1-numbers {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 34px;
    /* identical to box height, or 283% */
    color: #22A75D;
}

.q1-info {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    /* or 189% */
    color: #FFFFFF;
    opacity: 0.7;
}

.q2 {
    display: flex;

}

.circle-q2 {
    background: url(Q2.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #2278D4;
    text-align: center;
}

.circle-mini-g2 {
    display: flex;
    width: 10px;
    height: 10px;
    background: #2278D4;
    border-radius: 50%;
}

.q2-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.q2-numbers {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 34px;
    /* identical to box height, or 283% */
    color: #2278D4;
}

.q2-info {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #FFFFFF;
    opacity: 0.7;

}

.q3 {
    display: flex;

}

.circle-q3 {
    background: url(Q3.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #FFD100;
    text-align: center;
}

.circle-mini-g3 {
    display: flex;
    width: 10px;
    height: 10px;
    background: #FFD100;
    border-radius: 50%;
}

.q3-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.q3-numbers {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 34px;
    color: #FFD100;
}

.q3-info {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 1%;
}

.q4 {
    display: flex;

}

.circle-q4 {
    background: url(Q4.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #E20613;
    text-align: center;
}

.circle-mini-g4 {
    display: flex;
    width: 10px;
    height: 10px;
    background: #E20613;
    border-radius: 50%;
}

.q4-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.q4-numbers {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 34px;
    /* identical to box height, or 283% */
    color: #E20613;
}

.q4-info {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    /* or 189% */
    color: #FFFFFF;
    opacity: 0.7;
}

.t20 {

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

table {
    border-spacing: 5px 2px;
}

.Q1,
.Q2,
.Q3,
.Q4 {
    max-width: 330px;
    line-break: loose;
}

.Tic {
    width: 392px;
    height: 54px;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height, or 112% */


    color: #FFFFFF;
}

.tokner-is-coming {
    display: flex;
    padding-bottom: 10px;
}

.tic-desc {
    width: 644px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* or 150% */


    color: #FFFFFF;

    opacity: 0.6;
}

.TIC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 7%;
}

.read-more {
    width: 147px;
    height: 48px;
    border: 2px solid #22A75D;
    border-radius: 52px;
    background-color: #0f111a;
    color: #FFFFFF;
    float: left;
}

.read-more:hover {
    width: 147px;
    height: 48px;
    border: 2px solid #22A75D;
    border-radius: 52px;
    background-color: #22A75D;
    color: #FFFFFF;
    float: left;
}

.personalities {
    display: flex;
    justify-content: space-around;
    font-style: italic;
}

.eight {
    display: flex;
    margin-top: 5%;
}

.woman {
    display: flex;
    padding-left: 1%;
    width: 600px;
    height: 770px;
    transform: scale(0.7);
}

.nine {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    padding-top: 5%;
}

.ten {
    display: flex;
    flex-direction: column;
    background-image: url(Group\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Presale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 54px;


    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;

    color: #FFFFFF;

    margin-top: 6%;
}

.cards {
    display: flex;
    justify-content: center;

    font-style: normal;
}

.card-1 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5%;
    border-radius: 25px;
    margin-right: 1%;
    margin-bottom: 5%;
}

.card-2 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5%;
    border-radius: 25px;
    margin-right: 1%;
    margin-top: 5%;
}

.card-3 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5%;
    border-radius: 25px;
    margin-bottom: 5%;
}

.circle-01 {
    background: url(01.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    text-align: center;
}

.circle-02 {
    background: url(02.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #2278D4;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}

.circle-03 {
    background: url(03.png) no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 20%;
    background-color: #FFD100;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
    text-align: center;
}

.Phase {

    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 54px;
    /* identical to box height, or 169% */
    color: #191B21;

}

.duration {

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #191B21;

    opacity: 0.8;
}

.eleven {
    display: flex;
    flex-direction: column;

}

.twelve {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.How-to-buy {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */


    color: #F7F5F9;
}

.htb-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.htb-card-1-desc {
    width: 262px;
    height: 60px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-top: 10%;
}

.htb-number {
    width: 212px;
    height: 24px;
    padding: 5% 0% 0% 10%;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    color: #FFFFFF;
    opacity: 0.3;
}

.htb-card-1 {
    width: 400px;
    height: 200px;
    background: #171B29;
    border-radius: 25px;
    margin-right: 1%;
    margin-bottom: 3%;
}

.htb-card-2 {
    width: 400px;
    height: 200px;
    background: #171B29;
    border-radius: 25px;
    margin-right: 1%;
    margin-top: 3%;
}

.htb-card-3 {
    width: 400px;
    height: 200px;
    background: #171B29;
    border-radius: 25px;
    margin-right: 1%;
    margin-bottom: 3%;
}

.footer-1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 1% 5% 1% 5%;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    margin-top: 7%;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
}

.footer-2 {
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
}
.Tokners-1{
    width: 127px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 2%;
    cursor: pointer;
}
.fa {
    padding: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 2px solid #31333b;
}

.fa:hover {
    padding: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 2px solid #31333b;
    opacity: 0.5;
}

.fa-twitter {
    background: #0f111a;
    color: white;
}

.fa-instagram {
    background: #0f111a;
    color: white;
}

.fa-telegram {
    background: #0f111a;
    color: white;
}

.fa-github {
    background: #0f111a;
    color: white;
}

.fa-linkedin {
    background: #0f111a;
    color: white;
}

.fa-reddit {
    background: #0f111a;
    color: white;
}

.copyright {

    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}

@media only screen and (max-width:600px) {
    
    .Tokners {
        height: 18px;
        width: 105px;
        font-size:30px ;
        display: flex;
        justify-content: flex-start;
        font-weight: 700;
        color: #FFFFFF;
        padding-left: 5%;
        padding-right: 2%;
        padding-top: 5%;
        cursor: pointer;
    }
    .Tokners:hover {
        height: 18px;
        width: 105px;
        
        display: flex;
        justify-content: flex-start;
        font-weight: 700;
        color: #FFFFFF;
        padding-left: 5%;
        padding-right: 2%;
        padding-top: 5%;
        cursor: pointer;
        opacity: 0.6;
    }
    .Tokners img{
        width: 40px;
        height: 30px;
    }
    .one{

        justify-content: space-between;
        margin-top: 2%;
        align-items: baseline;
    }
    .two{
        display: none;
        width: 100%;
    }  
    .five {
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
        
    }
    .six {
        height: 100%;
        width: 100%;
    } 
    .two.active{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 230px;
    }

    .two.active .Our-team,.two.active .Tokens,.two.active .Connect,.two.active .Lightpaper{
        margin-top: 15px;
    }
    .two.active .Our-team:hover,.two.active .Tokens:hover,.two.active .Connect:hover,.two.active .Lightpaper:hover{
        margin-top: 15px;
        background-color:#20222a;
        width: 60%;
        text-align: center;
        border-radius: 20px;
    }
    .two.active .three{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .two.active .Sign{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .two.active .Signup,.two.active .Signin{
        border: none;
        width: 100%;
        margin-right: 0px;
    }
    .two.active .Signup:hover,.two.active .Signin:hover{
        border: none;
        width: 100%;
        margin-right: 0px;
        background-color: #20222a;
    }
    .toggle-button {
        display: flex;
        flex-direction: column-reverse;
         width: 30px;
         align-content: center;
         
     }
     
    .toggle-button .bar {
         height: 3px;
         width: 100%;
         background-color: white;
         border-radius: 10px;
     }
    .two.active.toggle-button{
        display: flex;
        position: fixed;
    }
    
    
    .we {
        Width: 121px;
        Height: 24px;
        font-size: 10px;
        padding-top: 10px;
    }

    .reimage {
        line-break: strict;
        width: 90%;
        height: 90%;
        font-size: 30px;
    }

    .para {
        width: 90%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
    }

    .learn-more {
        width: 40%;
        background-color: #22A75D;
        color: #FFFFFF;
        font-size: small;
    }

    .learn-more:hover {
        width: 40%;
        font-size: small;
        background-color: #171B29;
        border: 2px solid #22A75D;
    }

    .seven {
        transform: scaleX(1.1) scaleY(1.1);
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .rectangles {
        display: block;
        height: 100%;
        overflow: hidden;
        margin-top: 100px;
    }
    .for-creaters{
        font-size: 25px;
    }
    .para-2{
        font-size:13px ;
    }
    .rec-4 {
        height: 100%;
        width: 100%;
        background: #171B29;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 2% 0% 2% 2%;
        padding: 3%;
    }

    .rec-4-2 {
        height: 100%;
        width: 100%;
        background: #171B29;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 2% 0% 2% 2%;
        padding: 3%;

    }
    .rec-11{
        flex-wrap: wrap;
    }

    .rec-11-1 img {
        width: 100%;
        transform:scaleX(-1);;
    }
    .rec-11-2{
        border-radius: 0px 100px 0px 0px;
    }
    .qualities{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .eight{
        flex-wrap: wrap-reverse;
        
    }
    .woman{
        transform: scale(0.8);
        padding-left: 0px;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .TIC {
        padding-left: 1%;
        width: 100%;
    }
    .tokner-is-coming{
        flex-direction: column;
        width: 100%;
    }
    .Tic{
        font-size: 32px;
        width: 100%;
    }
    .tic-desc{
        font-size: 14px;
        width: 89%;
    }

    .footer-1{
        display: none;
    }
    .footer-2{
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-2 .Tokners-1{
            width: 180px;
            height: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    padding-left: 9%;
    padding-right: 2%;
    cursor: pointer;
    text-align: center;
    }
    .footer-2 img{
        padding-left: 50px;
        width: 50px;
        height: 30px;
    }
    .social{
        display: flex;
        justify-content: space-evenly;
    }
    .copyright{
        text-align: center;
    }
    .htb-cards{
        flex-direction: column;
        transform: scale(0.85);
    }
    .htb-card-1,.htb-card-2,.htb-card-3{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .htb-card-1-desc{
        font-size: 18px;
    }
    .cards{
        flex-wrap: wrap;
    }
    .card-1,.card-2,.card-3{
        margin: 1%;
    }
    .ten {
        display: flex;
        flex-direction: column;
        background-image: url(/Group\ 37.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;
        height:100%;
    }

}
